.admin-panel-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    /*padding: 20px;*/
    margin: 0 auto;
    width: 100%;
    min-height: 100vh; /* להבטיח שהעמוד יתפרס לגובה */
    box-sizing: border-box;
}

.admin-panel-title {
    font-size: 2rem;
    color: #5187a6;
    margin: 20px 0; /* מרווח ברור מ-Header */
    text-align: center;
}

.admin-panel-wrapper {
    width: 100%;
    max-width: 1200px;
    background-color: #f8f8f8;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

/* Ensuring Header stays consistent */
.admin-panel-container > header {
    width: 100%;
    flex-shrink: 0;
}

/* Responsiveness */
@media (max-width: 1024px) {
    .admin-panel-wrapper {
        padding: 10px;
    }
}

@media (max-width: 768px) {
    .admin-panel-title {
        font-size: 1.5rem;
    }

    .admin-panel-wrapper {
        padding: 8px;
    }
}

@media (max-width: 480px) {
    .admin-panel-title {
        font-size: 1.2rem;
    }
}
