/* General layout */
.home-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin: 0;
    padding: 0;
  }
  
  .home-content {
    display: flex;
    flex: 1;
    margin: 0;
    padding: 0;
    flex-direction: row;
  }
  
  /* Sidebar for legend */
  .home-sidebar {
    width: auto;
    max-width: 20%;
    min-width: 100px;
    height: 100%;
    background-color: #f8f8f8;
    border-right: 1px solid #ccc;
    overflow-y: auto;
    white-space: nowrap;
    padding: 10px;
  }
  
  /* Main map area */
  .home-main {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 100%;
    overflow: hidden;
  }
  
  .map-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
  }
  